section.features.row.wrapper
  .col-6.features__image.d-none.d-lg-flex.align-items-center
    img(src="../../../../assets/images/laptop.png")
  .col-12.col-lg-6.features__carousel-container.text-center.text-lg-left
    .features__carousel
      .features__carousel-item
        .features__carousel-title.col-12.color--grey-dark.weight--300(localized="features_0_title") Powerfull Extensions
        .features__carousel-text.col-12.col-lg-8.color--grey-light(localized="features_0_text")  This article is floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature
        .features__carousel-link.col-12.color--blue(localized="features_0_link")  Learn more
      .features__carousel-item
        .features__carousel-title.col-12.color--grey-dark.weight--300(localized="features_1_title") Powerfull Extensions
        .features__carousel-text.col-12.col-lg-8.color--grey-light(localized="features_1_text")  This article is floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature
        .features__carousel-link.col-12.color--blue(localized="features_1_link")  Learn more
      .features__carousel-item
        .features__carousel-title.col-12.color--grey-dark.weight--300(localized="features_2_title") Powerfull Extensions
        .features__carousel-text.col-12.col-lg-8.color--grey-light(localized="features_2_text")  This article is floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature
        .features__carousel-link.col-12.color--blue(localized="features_2_link")  Learn more
      .features__carousel-item
        .features__carousel-title.col-12.color--grey-dark.weight--300(localized="features_3_title") Powerfull Extensions
        .features__carousel-text.col-12.col-lg-8.color--grey-light(localized="features_3_text")  This article is floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature
        .features__carousel-link.col-12.color--blue(localized="features_3_link")  Learn more
      .features__carousel-item
        .features__carousel-title.col-12.color--grey-dark.weight--300(localized="features_4_title") Powerfull Extensions
        .features__carousel-text.col-12.col-lg-8.color--grey-light(localized="features_4_text")  This article is floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature
        .features__carousel-link.col-12.color--blue(localized="features_4_link")  Learn more
