section.hero.row.wrapper.justify-content-center.text-center
  .hero__title.col-12.color--grey-dark
    h1.title.weight--300(localized="hero_title")
  .hero__subtitle.col-10.col-lg-8.color--grey
    h2.subtitle.weight--300(localized="hero_subtitle")
  .hero__image.col-12
    img(src="../../../../assets/images/hero.png")
  .hero__tasks.row.text-left
    .hero__task.col-12.col-md-4
      .row
        .hero__icon.col-2.col-md-3.d-flex.align-items-center
          img(src="../../../../assets/images/icons/data.png")
        .hero__icon-text.col-9
          p.color--grey-dark(localized="hero_data")
          span.color--grey-light(localized="hero_data_text")
    .hero__task.col-12.col-md-4
      .row
        .hero__icon.col-2.col-md-3.d-flex.align-items-center
          img(src="../../../../assets/images/icons/prototype.png")
        .hero__icon-text.col-9
          p.color--grey-dark(localized="prototype_data")
          span.color--grey-light(localized="prototype_data_text")
    .hero__task.col-12.col-md-4
      .row
        .hero__icon.col-2.col-md-3.d-flex.align-items-center
          img(src="../../../../assets/images/icons/tasks.png")
        .hero__icon-text.col-9
          p.color--grey-dark(localized="tasks_data")
          span.color--grey-light(localized="tasks_data_text")
