section.pricing.row.wrapper.justify-content-center.text-center.z-front
  .pricing__title.col-12.color--grey-dark
    h1.title.weight--300(localized="pricing_title") 
  .pricing__subtitle.col-10.col-lg-6.color--grey
    h2.subtitle.weight--300(localized="pricing_subtitle") 
  .pricing__prices.row.col-lg-12.col-8
    .pricing__price.col-12.col-lg-4.bg--white
      .pricing__price-header
        .pricing__price-name
          span.color--blue(localized="pricing_0_title") 
        .pricing__price-subtitle 
          p.color--grey-light(localized="pricing_0_subtitle") 
      .pricing__price-body
        .pricing__price-amount
          span.color--black.title.weight--300(localized="pricing_0_price") 
          p.color--grey-light.text--sm.weight--300(localized="pricing_0_priceDes") 
        .pricing__price-description
          p.color--grey-light(localized="pricing_0_description") 
      .pricing__price-features.d-none.d-lg-block
        p.col-12.pricing__price-feature.color--grey-light(localized="pricing_0_space")  
        p.col-12.pricing__price-feature.color--grey-light(localized="pricing_0_recoveryDays")  
        p.col-12.pricing__price-feature.color--grey-light(localized="pricing_0_msIntegration")  
        p.col-12.pricing__price-feature.color--grey-light(localized="pricing_0_thirdIntegration")  
        p.col-12.pricing__price-feature.color--grey-light(localized="pricing_0_wipe")  
      .pricing__price-button
        button.btn.col-12.weight--600(localized="pricing_0_start") 
    .pricing__price.col-12.col-lg-4.bg--white
      .pricing__price-header
        .pricing__price-name
          span.color--blue(localized="pricing_1_title") 
        .pricing__price-subtitle 
          p.color--grey-light(localized="pricing_1_subtitle") 
      .pricing__price-body
        .pricing__price-amount
          span.color--black.title.weight--300(localized="pricing_1_price") 
          p.color--grey-light.text--sm.weight--300(localized="pricing_1_priceDes") 
        .pricing__price-description
          p.color--grey-light(localized="pricing_1_description") 
      .pricing__price-features.d-none.d-lg-block
        p.col-12.pricing__price-feature.color--grey-light(localized="pricing_1_space")  
        p.col-12.pricing__price-feature.color--grey-light(localized="pricing_1_recoveryDays")  
        p.col-12.pricing__price-feature.color--grey-light(localized="pricing_1_msIntegration")  
        p.col-12.pricing__price-feature.color--grey-light(localized="pricing_1_thirdIntegration")  
        p.col-12.pricing__price-feature.color--grey-light(localized="pricing_1_wipe")  
      .pricing__price-button
        button.btn.col-12.weight--600(localized="pricing_1_start") 
    .pricing__price.col-12.col-lg-4.bg--blue-light
      .pricing__price-header
        .pricing__price-name
          span.color--white(localized="pricing_2_title") 
        .pricing__price-subtitle 
          p.color--white.opacity--6(localized="pricing_2_subtitle") 
      .pricing__price-body.pricing__price-alt
        .pricing__price-amount
          span.color--white.title.weight--300(localized="pricing_2_price") 
          p.color--white.text--sm.weight--300.opacity--7(localized="pricing_2_priceDes") 
        .pricing__price-description
          p.color--white.opacity--6(localized="pricing_2_description") 
      .pricing__price-features.d-none.d-lg-block
        p.col-12.pricing__price-feature.color--white(localized="pricing_2_space")  
        p.col-12.pricing__price-feature.color--white(localized="pricing_2_recoveryDays")  
        p.col-12.pricing__price-feature.color--white(localized="pricing_2_msIntegration")  
        p.col-12.pricing__price-feature.color--white(localized="pricing_2_thirdIntegration")  
        p.col-12.pricing__price-feature.color--white(localized="pricing_2_wipe")  
      .pricing__price-button
        button.btn.btn--alt.col-12.weight--600(localized="pricing_2_start") 
    