section.sponsors.row.wrapper.justify-content-center.text-center.z-front
  .sponsors__title.col-12.color--white
    h1.title.weight--300(localized="sponsors_title")
  .sponsors__subtitle.col-10.col-lg-6.color--white
    h2.subtitle.weight--300(localized="sponsors_subtitle")
  .sponsors__button.col-12
    button.btn.btn--alt(localized="sponsors_button")
  .sponsors-description.color--white
    p.text--md.opacity--6(localized="sponsors_isSupported")
  .sponsors__image
    img(src="../../../../assets/images/sponsors.png") 

  