section.footer-container.z-front
  footer.row.wrapper.justify-content-left.justify-content-md-left.z-front
    .col-12.col-md-4
      .row
        .footer__app.col-4.text-right
          img(src="../../../../assets/images/icons/app.png") 
        .footer__app-text.col-8.d-flex.align-items-center
          .text--sm.color--white.opacity--6(localized="footer_app")
    .col-12.col-md-2.footer__links
      .footer__title
        p.color--white.weight--600(localized="footer_support")
      .footer__link  
        p.color--white.color--white.opacity--6(localized="footer_about")
      .footer__link  
        p.color--white.color--white.opacity--6(localized="footer_press")
      .footer__link  
        p.color--white.color--white.opacity--6(localized="footer_faq")
    .col-12.col-md-2.footer__links
      .footer__title
        p.color--white.weight--600(localized="footer_business")
      .footer__link  
        p.color--white.color--white.opacity--6(localized="footer_home")
      .footer__link  
        p.color--white.color--white.opacity--6(localized="footer_mobile")
      .footer__link  
        p.color--white.color--white.opacity--6(localized="footer_pricing")
    .col-12.col-md-2.footer__links
      .footer__title
        p.color--white.weight--600(localized="footer_community")
      .footer__link  
        p.color--white.color--white.opacity--6(localized="footer_developers")
      .footer__link  
        p.color--white.color--white.opacity--6(localized="footer_referrals")
      .footer__link  
        p.color--white.color--white.opacity--6(localized="footer_forum")
    .col-12.col-md-2.footer__links
      .footer__language.dropdown
        button.btn.dropdown-toggle#dropdownMenuButton.d-none(type="button")
        button.footer__dropdown-button.dropdown-toggle.text--sm.color--white.opacity--6(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") English
        .dropdown-menu(aria-labelledby="dropdownMenuButton")
          a.footer__dropdown-item.dropdown-item.color--white.opacity--6(value="english") English
          a.footer__dropdown-item.dropdown-item.color--white.opacity--6(value="spanish") Spanish
      