//- replace this for a menu :)
.nav-container
  nav.wrapper.navbar.navbar-expand-lg.margin--auto.align-items-baseline
    img.padding--cero.navbar-brand(src="../../../assets/images/mainLogo.png")
    button.navbar-toggler.navbar-light(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.mr-auto
        li.nav-item.weight--heavy
          a.nav-link.padding--cero.text--md.color--grey-light(href="#" localized="menu_feature")
        li.nav-item
          a.nav-link.padding--cero.text--md.color--grey-light(href="#" localized="menu_pricing")
        li.nav-item
          a.nav-link.padding--cero.text--md.color--grey-light(href="#" localized="menu_learn")
        li.nav-item
          a.nav-link.padding--cero.text--md.color--grey-light(href="#" localized="menu_sales")
        